.navbar{
  display: flex;
  justify-content: space-between;
  background-color: navy;
  color: white;
}

.navbar__title {
  font-size: 30px;
  margin-left: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin-right: 20px;
}

.navbar__list li {
  display: inline-block;
  margin-left: 20px;
  font-size: 30px;
}

a {
  color: currentColor;
  text-decoration: none;
}

.home {
  margin: 20px;
  height: 80vh;
  text-align: center;
  border: 1px solid lightskyblue;
  font-size: 30px;
  font-weight: bold;
}

.home li {
  margin: 30px auto; 
  border: 1px solid lightskyblue;
  padding: 20px 0;
  width: 20%;
}

.classlist {
  margin: 20px;
  text-align: center;
  border: 1px solid lightskyblue;
  height: 80vh;
}

.student {
  border: 1px solid lightskyblue;
  margin: 20px;
  padding-left: 20px;
  height: 80vh;
}

.subnavbar {
  font-size: 20px;
  background-color:lightgrey;
  padding-right: 20px;
  text-align: right;
}

.subnavbar a {
  display: inline-block;
  margin-left: 20px;

}

.about, .history, .contact {
  border: 1px solid lightskyblue;
  margin: 20px;
  padding: 0 30px;
  height: 70vh;
  text-align: justify;
}

.about h2, .history h2 {
  text-align: center;
}